*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Examples/intercepting_filter/build/
/Examples/intercepting_filter_completed/build/
/Examples/front_controller/nbproject/private/
/Examples/front_controller/build/
/Examples/mortgage_calculator/nbproject/private/
/Examples/example_calc/nbproject/private/
/Examples/example_calc/build/
/Examples/Lecture 3/CompositeView/nbproject/private/
/Examples/Lecture 3/CompositeView/build/